<header class="home-header">
  <div class="home-header-details">
    <div class="home-header-details-name">Luca Decaprio</div>
    <div class="skinny-line"></div>
    <div class="home-header-details-roles">Front end developer <span class="bullet">&bull;</span> Product design <span class="bullet">&bull;</span> Freelancer</div>
    <div class="skinny-line"></div>
    <div class="header-home-details-content">Hey! I'm Luca. I work at <a href="https://www.mopals.com">MoPals</a> in Toronto where I am a frontend developer on the product team. When I am not working I am <a href="https://www.instagram.com/lucadecaprio/">enjoying the outdoors</a>, building workswap or <a href="https://github.com/bliitzkrieg?tab=repositories">learning something new</a>.</div>
    <div class="home-header-details-social">
      <a href="https://github.com/bliitzkrieg">
        <i class="fa fa-github-square"></i>
      </a>
      <a href="https://twitter.com/lucadecaprio">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a href="https://www.instagram.com/lucadecaprio/">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://ca.linkedin.com/in/lucadecaprio">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </div>
  </div>
  <div class="home-header-image">
    <img src="/assets/images/luca_transparent.png" alt="Luca DeCaprio's Portfolio" />
  </div>
</header>
